header {
  position: absolute;
  width: 100%;
  padding-top: 60px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
}

.header__content .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__content nav {
  margin-bottom: 1px;
}

.header__content nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__content nav ul li {
  margin-left: 37px;
}

.header__content nav ul li:hover {
  border-bottom: 2px solid #f1cdb3;
}

.header__content nav ul li a {
  font-size: 1.5rem;
}

.notonly {
  background-image: url("../pictures/start-screen-background.jpg");
  background-size: cover;
  background-position: center;
}

.notonly .notonly__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 180px 40px 0;
}

.notonly .notonly__content .notonly__text {
  padding-top: 163px;
}

.notonly .notonly__content .notonly__image {
  background-image: url("../pictures/start-screen-puppy.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 698px;
  height: 728px;
}

@media (max-width: 1279px) {
  header {
    padding-top: 30px;
  }
  header .header__content {
    padding: 0 30px;
  }
  .notonly__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 150px 30px 0;
  }
  .notonly__content .notonly__text {
    padding-top: 0;
    margin: auto;
    margin-bottom: 100px;
  }
  .notonly__content .notonly__text .notonly__button {
    text-align: center;
  }
  .notonly__content .notonly__image {
    margin-left: auto;
    width: 569px;
    height: 593px;
  }
}

@media (max-width: 767px) {
  .header__content {
    padding: 0 10px;
  }
  .header__content .header__logo {
    width: 100%;
  }
  .header__content .header__logo .burger__menu {
    display: block;
  }
  .header__content nav {
    display: none;
  }
  .notonly__content {
    padding: 150px 10px 0;
  }
  .notonly__content .notonly__text {
    text-align: center;
    margin-bottom: 105px;
  }
  .notonly__content .notonly__image {
    width: 260px;
    height: 272px;
    margin-left: auto;
  }
}

@media (min-width: 767px) {
  .burger__menu {
    display: none;
  }
}

.interactive {
  border-bottom: 2px solid #f1cdb3;
}

.interactive:hover {
  border-bottom: none;
}

.about__shelter {
  background-color: #ffffff;
}

.about__shelter .about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__shelter .about__content .about__image {
  background-image: url("../pictures/about-pets.png");
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 408px;
  margin-right: 120px;
}

.about__shelter .about__content .about__text {
  padding: 14px 0;
}

.about__shelter .about__content .about__text p {
  width: 430px;
  color: #4c4c4c;
  margin-top: 25px;
}

@media (max-width: 1279px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__content .about__image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__content .about__text {
    margin-bottom: 80px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .about__content .about__image {
    width: 260px;
    height: 353px;
    margin: auto;
  }
  .about__content .about__text {
    margin-bottom: 42px;
  }
  .about__content .about__text h3 {
    text-align: center;
  }
  .about__content .about__text p {
    max-width: 270px;
    margin: 25px 15px 0 15px;
    text-align: justify;
  }
}

.ourpets {
  background-color: #f6f6f6;
}

.ourpets .our__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.ourpets .our__content h3 {
  margin-bottom: 60px;
}

.ourpets .our__content .our__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}

.ourpets .our__content .our__list .our__pet1,
.ourpets .our__content .our__list .our__pet2,
.ourpets .our__content .our__list .our__pet3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  background-color: #FFFFFF;
}

.ourpets .our__content .our__list .our__pet1 img,
.ourpets .our__content .our__list .our__pet2 img,
.ourpets .our__content .our__list .our__pet3 img {
  display: block;
  height: 270px;
  width: 270px;
}

.ourpets .our__content .our__list .our__pet1:hover,
.ourpets .our__content .our__list .our__pet2:hover,
.ourpets .our__content .our__list .our__pet3:hover {
  -webkit-box-shadow: 0 0 25px 25px rgba(141, 141, 141, 0.3);
          box-shadow: 0 0 25px 25px rgba(141, 141, 141, 0.3);
}

@media (max-width: 1279px) {
  .our__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our__content .our__list {
    gap: 40px;
  }
  .our__content .our__list li:nth-child(3) {
    display: none;
  }
}

@media (max-width: 767px) {
  .our__content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 42px;
  }
  .our__content h3 {
    margin-bottom: 42px;
  }
  .our__content .our__list {
    margin-bottom: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our__content .our__list .circle__button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 40px;
  }
  .our__content .our__list .circle__button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 40px;
  }
  .our__content .our__list li:nth-child(2) {
    display: none;
  }
  .our__content .our__list li:nth-child(3) {
    display: none;
  }
}

.help {
  background-color: #ffffff;
}

.help .help__content {
  text-align: center;
}

.help .help__content h3 {
  margin-bottom: 60px;
}

.help .help__content .help__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 55px 120px;
}

.help .help__content .help__items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help .help__content .help__items li img {
  display: block;
  height: 60px;
  width: 60px;
  margin-bottom: 30px;
}

@media (max-width: 1279px) {
  .help__items {
    gap: 55px 60px;
  }
  .help__items li {
    width: 170px;
  }
}

@media (max-width: 767px) {
  .help__content h3 {
    margin-bottom: 42px;
  }
  .help__content .help__items {
    gap: 30px;
    padding: 0 5px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .help__content .help__items li {
    width: 130px;
  }
  .help__content .help__items li h4 {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
  .help__content .help__items li img {
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
  }
}

.donation {
  background-color: #f6f6f6;
}

.donation .donation__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donation .donation__content .donation__image {
  margin-right: 30px;
}

.donation .donation__content .donation__image img {
  display: block;
}

.donation .donation__content h3 {
  margin-bottom: 20px;
}

.donation .donation__content h5 {
  display: block;
  font-family: "GeorgiaRegular";
  line-height: 1.7rem;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation .donation__content .donation__card {
  width: 349px;
  height: 43px;
  background-color: #f1cdb3;
  border-radius: 9px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
  padding: 5px 25px;
}

.donation .donation__content .donation__card h4 {
  font-family: 'Georgia', sans-serif;
  font-size: 2.0rem;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation .donation__content .donation__card h4:hover {
  color: #fafafa;
}

.donation .donation__content p {
  font-family: "ArialItalic";
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #b2b2b2;
  max-width: 380px;
}

@media (max-width: 1279px) {
  .donation__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .donation__content .donation__image {
    margin: 60px 0 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 767px) {
  .donation__image {
    margin: 42px 0 0;
  }
}

@media (max-width: 767px) {
  .donation__image img {
    width: 260px;
    height: 135.21px;
  }
}

@media (max-width: 767px) {
  .donation__info span {
    line-height: 24px;
    letter-spacing: 0;
  }
}

@media (max-width: 767px) {
  .donation__info p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: justify;
    max-width: 280px;
  }
}

@media (max-width: 767px) {
  .donation__info {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .card-block__info span {
    font-size: 15px;
    line-height: 17px;
  }
}

footer {
  background-image: url("../pictures/footer-background.png");
  background-size: cover;
  background-position: center;
}

footer .footer__content {
  padding: 40px 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__content h3 {
  font-family: "GeorgiaRegular";
  font-weight: 400;
  font-size: 34.9px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

footer .footer__content h4 {
  display: inline-block;
  font-family: "GeorgiaRegular";
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}

footer .footer__content .footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 278px;
  height: 234px;
}

footer .footer__content .footer__contacts .contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
}

footer .footer__content .footer__contacts .contacts__info img {
  display: block;
  margin-right: 20px;
}

footer .footer__content .footer__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 302px;
  height: 234px;
}

footer .footer__content .footer__location .location__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: -10px;
}

footer .footer__content .footer__location .location__info img {
  display: block;
  margin-right: 20px;
}

footer .footer__content .footer__image img {
  display: block;
}

@media (max-width: 1279px) {
  .footer__content {
    padding: 30px 30px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 65px 60px;
  }
  .footer__content .footer__contacts {
    margin-top: 0;
  }
  .footer__content .footer__location {
    margin-top: 0;
  }
  .footer__content .footer__image {
    margin: auto;
  }
}

@media (max-width: 767px) {
  .footer__content {
    padding: 30px 10px 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
  }
  .footer__content h3 {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    margin: 0 10px;
  }
  .footer__content .footer__contacts {
    height: 208px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
    margin: auto;
  }
  .footer__content .footer__location {
    margin: auto;
    height: 222px;
    margin-bottom: 40px;
  }
  .footer__content .footer__image {
    margin-top: 0;
    margin: auto;
  }
  .footer__content .footer__image img {
    width: 260px;
    height: 269px;
  }
}

html {
  font-size: 10px;
}

input {
  font-family: 'Georgia', sans-serif;
  font-size: 1.7rem;
  line-height: 2.2rem;
  color: #292929;
  border-radius: 100px;
  border: none;
}

input:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button__border {
  padding: 15px 45px;
  background-color: #FFFFFF;
  border: 2px solid #f1cdb3;
}

.button__border:hover {
  background-color: #f1cdb3;
}

.button__color {
  padding: 15px 45px;
  background-color: #f1cdb3;
}

.button__color:hover {
  background-color: #ffcece;
  color: #292929;
}

.circle__button {
  padding: 19px 20px;
  background-color: #f6f6f6;
  border: 2px solid #f1cdb3;
}

.circle__button:hover {
  background-color: #f1cdb3;
  text-decoration: none;
}

.circle__button2 {
  padding: 14px 20px;
  color: #CDCDCD;
  background-color: #F6F6F6;
  border: 2px solid #CDCDCD;
}

.circle__button2:hover {
  text-decoration: none;
  cursor: default;
}

.circle__button3 {
  padding: 14px 20px;
  background-color: #f1cdb3;
  border: 2px solid #f1cdb3;
}

.circle__button3:hover {
  text-decoration: none;
  cursor: default;
}

.circle__button4 {
  padding: 14px 20px;
  background-color: #f6f6f6;
  border: 2px solid #f1cdb3;
}

.circle__button4:hover {
  background-color: #f1cdb3;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: 'Georgia', sans-serif;
  font-size: 3.2rem;
  color: #f1cdb3;
  font-weight: 400;
}

h2 {
  font-family: 'Georgia', sans-serif;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.5rem;
  color: white;
}

h3 {
  font-family: 'Georgia', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4.5rem;
  color: #545454;
}

h4 {
  font-family: 'Georgia', sans-serif;
  font-size: 2.0rem;
  line-height: 2.3rem;
  color: #545454;
}

h5 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
}

.notonly__text h2 {
  font-family: 'Georgia', sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 5.7rem;
  margin-bottom: 42px;
}

p {
  font-size: 1.5em;
  line-height: 2.4rem;
  color: #cdcdcd;
  margin-bottom: 42px;
  max-width: 460px;
}

@media (max-width: 767px) {
  h2,
  h3 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 3.2rem;
  }
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header__content a {
  color: #cdcdcd;
  line-height: 2.4rem;
}

.header__content a:hover {
  color: #f1cdb3;
}

.header__span {
  display: block;
  padding: 10px 0 0 4px;
  font-size: 1.3rem;
  margin-top: -10px;
  line-height: 1.5rem;
  letter-spacing: 0.1rem;
  color: #ffffff;
}

span {
  display: block;
  font-family: 'Georgia', sans-serif;
  font-size: 2.0rem;
  line-height: 2.3rem;
  color: #545454;
  margin-bottom: 30px;
  padding: 30px 0;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  position: relative;
  max-width: 1280px;
  margin: auto;
}

.container {
  padding: 80px 40px 100px;
}

@media (max-width: 1279px) {
  .container {
    padding: 80px 30px 100px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 42px 10px;
  }
}
